#map { height: 30rem; }

.card{
    height: 25rem;
    width: auto;
    border-radius: 1rem;
}

.grandsSinges{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.btn-marker{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 0.75rem;
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 0.75rem;
    padding: 0.2rem;
    margin: 0.3rem;

}

.photoCard{
    height: 15rem;
    width: auto;
    border-top-left-radius:1rem ;
    border-top-right-radius: 1rem;
}